<!--Partial used to display the user account details page header -->
<h2 class="ui header" style="padding-left: 15px; padding-bottom: 10px;">
        Account Settings
        <div class="sub header">Edit your account details.</div>
    </h2>