<!--Partial for displaying the add assessment comment section for trainers -->
<form class="ui form" action="/member/{{userid}}/{{id}}" method="POST">
    <div class="field">
        <label>Comments</label>
        <input type="text" name="comment" value="{{comment}}">
    </div>

    <button class="ui blue submit button">Update</button>
</form>