<!--Partial View which is used to display the add assessment component for members -->
<section class="ui raised segment">

    <form class="ui form" action="/addAssessment" method="POST">
        <div class="two fields">
            <div class="field">
                <label>Weight</label>
                <input placeholder="00.00kg" step="0.01" type="number" name="weight">
            </div>
            <div class="field">
                <label>Chest</label>
                <input placeholder="00.00cm" step="0.01" type="number" name="chest">
            </div>
            <div class="field">
                <label>Thigh</label>
                <input placeholder="00.00cm" step="0.01" type="number" name="thigh">
            </div>
        </div>

        <div class="three fields">
            <div class="field">
                <label>Upper Arm</label>
                <input placeholder="00.00cm" step="0.01" type="number" name="upperArm">
            </div>
            <div class="field">
                <label>Waist</label>
                <input placeholder="00.00cm" step="0.01" type="number" name="waist">
            </div>
            <div class="field">
                <label>Hips</label>
                <input placeholder="00.00cm" step="0.01" type="number" name="hips">
            </div>
        </div>
        <button class="ui blue submit button">Add Assessment</button>
    </form>
</section>