<h1 class="ui center aligned header">Assessment Trend Charts</h1>
<section class="ui center aligned segment">
  <canvas id="weightChart" width="670" height="400" style="margin: 10px auto; padding-left: 5px;"></canvas>
  <canvas id="chestChart" width="670" height="400" style="margin: 10px auto; padding-left: 5px;"></canvas>
  <canvas id="thighChart" width="670" height="400" style="margin: 10px auto; padding-left: 5px;"></canvas>
  <canvas id="upperArmChart" width="670" height="400" style="margin: 10px auto; padding-left: 5px;"></canvas>
  <canvas id="hipChart" width="670" height="400" style="margin: 10px auto; padding-left: 5px;"></canvas>
  <canvas id="waistChart" width="670" height="400" style="margin: 10px auto; padding-left: 5px;"></canvas>
</section>