{{#each assessments}}
        <table class="ui celled table">
            <thead>
    
              {{> assessmentHeader}}
        
            </thead>
            <tbody>

       {{> assessmentRow}}


            </tbody>


        </table>
  


   {{> addAssessmentComment}}

{{/each}}