<!--Partial used to display forms for editing member account settings -->
<div class="ui two column grid basic middle aligned segment">
    <!--Start of column-->
    <div class="column">

        <form class="ui stacked segment form" action="/editAccountName" method="POST">

            <div class="field">
                <label>Edit Name</label>
                <input type="text" placeholder="Enter Name" name="name">

            </div>
            <button class="ui blue submit button">Submit</button>
        </form>
        <form class="ui stacked segment form" action="/editAccountGender" method="POST">

            <div class="field">
                <label>Edit Gender</label>
                <input type="text" placeholder="Enter Gender" name="gender">

            </div>
            <button class="ui blue submit button">Submit</button>
        </form>
        <form class="ui stacked segment form" action="/editAccountEmail" method="POST">

            <div class="field">
                <label>Edit Email</label>
                <input type="text" placeholder="Enter Email" name="email">

            </div>
            <button class="ui blue submit button">Submit</button>
        </form>


    </div>
    <!--End of column-->

    <!--Start of column-->
    <div class="column">
        <form class="ui stacked segment form" action="/editAccountPassword" method="POST">

            <div class="field">
                <label>Edit Password</label>
                <input type="text" placeholder="Enter Password" name="password">

            </div>
            <button class="ui blue submit button">Submit</button>
        </form>
        <form class="ui stacked segment form" action="/editAccountHeight" method="POST">

            <div class="field">
                <label>Edit Height</label>
                <input type="text" placeholder="Enter Height" name="height">

            </div>
            <button class="ui blue submit button">Submit</button>
        </form>
        <form class="ui stacked segment form" action="/editAccountWeight" method="POST">

            <div class="field">
                <label>Edit Weight</label>
                <input type="text" placeholder="Enter Weight" name="weight">

            </div>
            <button class="ui blue submit button">Submit</button>
        </form>

    </div>
    <!--End of column-->
</div>