<!--Table used to display goals to both members and trainers -->
<table class="ui celled table">
  <thead>
    {{> goalHeader}}

  </thead>
  <tbody>

    {{#each goals}}


    {{> goalRow}}


    {{/each}}

  </tbody>

</table>