<!--Error component that is displayed if the member/trainer enters incorrect account details when attempting to login -->
<div class="ui error message">
  <div class="header">Incorrect Details</div>
  <p>No registered account was found with those details.</p>
  <p>
    Please try to login again.
  </p>
</div>