<!--
This partial is used to include a button link to the list of members view for logged in trainers.
-->

<a href="/trainerDashboard">
    <button class="blue fluid ui button">Return To List Of Members</button>
</a>