{{> memberMenu id='userMenu' }}

<section class="ui center aligned middle aligned segment">

    <div class="ui two column stackable center aligned grid">
        <!--Start of row-->
        <div class="row">
            <!--Start of column-->
            <div class="column" style="display: flex; justify-content: center; align-items: center;">
                <div>

                    <h1>
                        BMI Tracker
                    </h1>
                    <p class="ui large text">Fill in your assessments week by week and track your<br> BMI. Trainers will
                        comment on your progress
                        and<br> encourage you to keep going!</p>
                </div>

            </div>
            <!--End of column-->

            <!--Start of column-->
            <div class="column">
                <div class="ui fluid image">
                    <img
                        src="https://cdn.glitch.com/0a0827f0-515d-4bba-8237-feb833061164%2Fd4a53912-0235-47db-8a42-80eb206df4ab.image.png?v=1595173853074">
                </div>
            </div>
            <!--End of colunm-->
        </div>
        <!--End of row-->
    </div>


</section>