 {{> memberMenu id='userMenu' }}

<section class="ui raised segment">
 
  
  {{> memberAnalytics}}
  
  
  <h1 class="ui center aligned header">Goals</h1>
  {{#if goalsSet}}
  <!--Table to display goal segment-->
  {{> goalTable}}
  
  {{else}}
  
  {{> noGoalsSet}}
  
  {{/if}}
  
  
{{> addGoal}}
 
{{> addAssessment}}

  <h1 class="ui center aligned header">Completed Assessments</h1>
{{#if completedAssessments}}
  
{{> assessmentTable}}
  {{else}}
   {{> noCompletedAssessments}}
  {{/if}}
  
  
  
</section>

{{> goalCalendarScript}}