{{> trainerMenu id='trainerMenu' }}

<section class="ui raised segment">
 
  {{> memberAnalytics}}
  
  
  <h1 class="ui center aligned header">Goals</h1>
  {{#if goalsSet}}
  
  {{> goalTable}}
  
  {{else}}
  
  {{> noGoalsSet}}
  
  {{/if}}
  
  
 
{{> addGoal}}

<!--

This component displays the list of member assessments to the trainer (the trainer has selected the
relevant member by clicking on the member name following login).

Each assessment is listed using the {list items} syntax to loop through all assessments.
The trainer can add a comment to each assessment.
After a comment is added, the page is refreshed and the comment is displayed on the relevant assessment.

If no assessments have been completed for the member, a component is displayed to the trainer which explains
how the BMI (Body Mass Index), BMI category and ideal weight indicator were calculated.

The trainer can return to the list of members by clicking the button at the bottom of the page.

-->
<h1 class="ui center aligned header">Completed Assessments</h1>
 
<section class="ui raised segment">
   {{#if completedAssessments}}


{{> assessmentTableComment}}
  
   {{else}}
   {{> noCompletedAssessments}}
  {{/if}} 

</section>

{{> returnToTrainerDashboard}}
  
  
</section>